{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .hero_area {
        height: fit-content;
    }
    .layout_padding-top {
    padding-top: 275px;
}

.info_section {
  visibility: hidden;
}
</style>
<style>
  .success-message {
      color: green;
      font-weight: bold;
  }
  .error-message {
      color: red;
      font-weight: bold;
  }
</style>
<section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="form_container">
            <div class="heading_container">
              <img src="{% static 'images/heading-img.png' %}" alt="">
              <h2>
                Slaptažodžio atstatymas
              </h2>
              <p>
                Jeigu jau esate aktyvave savo paskyrą galite prisijungti prie sistemos
              </p>
            </div>
            <form method="POST">
              {% csrf_token %}
              {% if messages %}
              <div class="messages" id="message-container">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
              <div>
                <input type="email" name="email" placeholder="El.paštas" required />
              </div>
              <div class="d-flex ">
                <button type="submit">
                  Siųsti laišką
                </button>
              </div>
            </form>
            <p>Neturite paskyros? <a href="{% url 'register' %}">Registruokitės čia</a></p>
            <p style="text-decoration: underline;">Visos paslaugos bus pasiekiamos tik prisiregistravus</p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var messageContainer = document.getElementById('message-container');
      if (messageContainer) {
        setTimeout(function() {
          messageContainer.style.opacity = 0;
          setTimeout(function() {
            messageContainer.style.display = 'none';
          }, 1000); // Wait for the fade-out transition to complete
        }, 3000); // Wait for 3 seconds before starting the fade-out
      }
    });
  </script>
{% endblock %}
