{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .info_section{
        display: none;
    }
    .hero_area{
      background-image: none;
    }
        .hero_area::before {
            background-image: none;
            content: none;
        }
      
        .custom_menu-btn button span {
            background-color: black;
        }
</style>
<section class="orders_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <img src="{% static 'images/heading-img.png' %}" alt="">
        <h2>
          Jūsų Užsakymai
        </h2>
      </div>
      <div class="orders_table">
<form action="" method="POST">
    {% csrf_token %}
    <p>Ar norite ištrinti šį užsakymą?</p>
    <a class="btn btn-success" href="{% url 'dashboard' %}">Atgal</a>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Užsakymo numeris</th>
            <th>Data</th>
            <th>Laikas</th>
            <th>Tvirtinimas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ order.id|stringformat:"s"|slice:"-7:" }}</td>
            <td>{{ order.day }}
            </td>
            <td>{{ order.time }}</td>
            <td><button class="btn btn-danger" type="submit">Trinti</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
</form>
{% endblock %}