  {% load static %}
  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="info_contact">
            <h5>
              Kontaktai
            </h5>
            <div>
              <img src="images/call.png" alt="" />
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <img src="images/mail.png" alt="" />
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_time">
            <h5>
              Darbo Laikas
            </h5>
            <div>
              <p>
                Pirmadienis-Penktadienis
              </p>
            </div>
            <div>
              <p>
                08:00 iki  17:00
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="info_social">
            <h5>
              socialiniai tinklai
            </h5>
            <div class="social_container">
              <div>
                <a href="">
                  <img src="{% static 'images/fb.png' %}" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="{% static 'images/twitter.png' %}" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="{% static 'images/linkedin.png' %}" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="{% static 'images/instagram.png' %}" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form pl-lg-4">
            <h5>
              Naujienlaiškis
            </h5>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Prenumeruokite
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->